rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
    // 1. PRODUCTOS: Visibles para todos. Solo Admin edita.
    match /products/{productId} {
      allow read: if true;
      allow write: if request.auth != null; 
    }

    // 2. CLIENTES: Cada uno ve lo suyo.
    match /customers/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      allow read: if request.auth != null; // Simplificado para permitir lectura admin básica
      
      match /addresses/{addressId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }

    // 3. PEDIDOS: Crear y ver propios.
    match /orders/{orderId} {
      allow create: if request.auth != null;
      allow read: if request.auth != null; // Simplificado para evitar bloqueos por ahora
      allow update: if request.auth != null;
    }

    // 4. ADMINS: Acceso de gestión
    match /admins/{adminId} {
      allow read, write: if request.auth != null;
    }

    // 5. WISHLISTS (FAVORITOS): Agregado para permitir que funcione el corazón
    match /wishlists/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Regla de seguridad general
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
